*{
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    background-color: #f5f6f8;
    margin: 0;
}
/* Header */


.header{
    color: white;
    background-color: #5964e0;
    width: 100%;
    height: 120px;
    border-bottom-left-radius: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.box-clean-dark{
    align-items: center;
    display: flex;
}

.light-switch{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 18px;
    border-radius: 10px;
    background-color: white;
    margin: 0px 10px 0 10px;
    padding: 2px;
}

.pointer{
    width: 14px;
    height: 14px;
    background-color: #5964e0;
    border-radius: 50%;
}

.light-switch.dark{
    justify-content: flex-end;
}

/* Logout Box */ 

.circle{
    font-size: 17px;
    font-weight: 00;
    color: white;
    padding: 0px 10px 0px 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 40px; 
}

.circle a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}

.circle a:hover, .active{
    opacity: 0.5;
}

/* Info Comapany */ 
main{
    padding-top: 50px;
}

.box-info-company{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.box-info-company img{
    border-radius: 500px;
    max-width: 100%;
    background-color: white;
}

.company-title{
    font-size: 40px;
    font-weight: 600;
}

.color-ct{
    color: rgba(0, 0, 0, 0.603);
}


/* Create a vacancy */ 
.title-create-job{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.box-vacancy{
    display: flex;
    flex-direction: column;
}

textarea{
    outline: none;
    resize: none;
    width: 100%;
    max-height: 70px;
}

label{
    font-weight: 700;
}

.empty{
    background-color: rgba(255, 0, 0, 0.288);
}

.box-create-job{
    opacity: 0;
    min-width: 70%;
    max-width: 80%;
    height: 40px;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.error-box{
    color: rgba(255, 0, 0, 0.644);
    background-color: rgba(238, 20, 20, 0.274);
    box-shadow: 0 0 2px rgba(206, 15, 15, 0.384);
}

.success-box{
    color: rgb(28, 139, 28);
    background-color: rgba(63, 160, 63, 0.356);
}
/* Edit Profile */ 

.box-edit-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.box-edit-profile .row input{
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0 5px 5px 5px;
}

.box-edit-profile .row label{
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    font-weight: 600;
}

.box-message-edit-profile{
    opacity: 1;
    min-height: 25px;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
}

.box-error-edit-profile{
    background-color: rgba(243, 70, 70, 0.466);
    color: rgba(231, 14, 14, 0.705);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.466);
}

.box-success-edit-profile{
    background-color: rgba(186, 216, 186, 0.589);
    color: rgb(11, 168, 11);
    box-shadow: 0 0 5px rgba(15, 131, 15, 0.452);
}
 /* Button Inicial Page */ 
.inicial-page{
    text-decoration: none;
    cursor: pointer;
    font-size: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    position: fixed;
    color: white;
    background-color: #5964e0;
    border-radius: 30px;
    transition: width 0.5s ease;
}

.inicial-page:hover{
    color: white;
    width: 120px;
}

