*{
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    background-color: #f5f6f8;
    margin: 0;
}
/* Header */
.home-header{
    position: fixed;
    width: 100%;
}

.header{
    color: white;
    background-color: #5964e0;
    width: 100%;
    height: 120px;
    border-bottom-left-radius: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.box-clean-dark{
    align-items: center;
    display: flex;
}

.light-switch{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 18px;
    border-radius: 10px;
    background-color: white;
    margin: 0px 10px 0 10px;
    padding: 2px;
}

.pointer{
    width: 14px;
    height: 14px;
    background-color: #5964e0;
    border-radius: 50%;
}

.light-switch.dark{
    justify-content: flex-end;
}

.down-header{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: white;
    margin-top: -30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
    border-radius: 5px;
    transition: all 0.5s 0s ease;
}

.form-search{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

label{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.states{
    color: rgba(0, 0, 0, 0.589);
    font-weight: 500;
    width: 100%;
    border: none;
    outline: none;
}

input{
    outline: none;
    border: none;
    margin-left: 5px;
}

button{
    background-color: #5964e0;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-weight: 500;
}

.checkbox{
    font-weight: 600;
}

.checkbox input{
    margin-right: 5px;
}


/* Login Button */ 
.user{
    transition: all 0.3s 0s ease;
}

.none{
    display: none[];
}

.cssbuttons-io-button {
    background: #5964e0;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.205);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 700;
    border-radius: 0.9em;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #00000033;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
   }
   
   .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em v;
    right: 0.3em;
    transition: all 0.3s;
   }
   
   .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
   }
   
   .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #5964e0;
   }
   
   .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
   }
   
   .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
   }

/* Logout box */ 
.box-logout{
    display: none;
    opacity: 0;
    transition: all 0.8s 0s ease;
}
.circle{
    font-size: 17px;
    font-weight: 00;
    color: white;
    padding: 0px 10px 0px 5px ;
    border-radius: 50px;
}

.circle a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.circle a:hover{
    opacity: 0.5;
}


/* Main (box) */ 
main{
    padding-top: 150px;
}

.box-jobs{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box{
    min-width: 300px;
    margin-right: 20px;
}

.box-header{
    max-width: 60px;
    padding: 20px;
}
.box-header img{
    max-width: 45px;
    border-radius: 15px;
}

.box-body{
    background-color: rgb(255, 255, 255);
    min-width: 300px;
    padding: 30px 20px 30px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    margin-top: -40px;
}

.post{
    display: flex;
    font-size: 12px;
    font-weight: 600;
    color: rgb(143, 141, 138);
}

span{
    margin: 0px 20px 10px 20px;
}

.title-job{
    margin-bottom: 10px;
    font-weight: 700;
}

.language{
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 600;
    color: rgb(143, 141, 138);
}

.box-footer{
    font-weight: bold;
    color: #5964e0;;
    font-size: 15px;
    cursor: pointer;
}

.box-footer:hover{
    opacity: 0.8;
}

.more-jobs{
    width: 100%;
    display: flex;
    justify-content: center;
}

.more-jobs button{
    margin: 20px;
}

.more-jobs button:hover{
    opacity: 0.8;
}

/* Modal JOBS*/

.modal-header img{
    max-width: 50px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
    margin-right: 10px;
}

.modal-header h5{
    font-weight: bold;
}

.text-not-loged{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.text-not-loged strong{
    cursor: pointer;
    color: rgb(71, 71, 243);
}

.button-loged{
    display: none;
}

/* Modal-Form-Apply */
.form-apply{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.form-apply input{
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0 5px 5px 5px;
    width: 100%;

}

.form-apply label{
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    font-weight: 600;
}

.title-subsection{
    margin: 10px 0px 10px 0px;
}

.empty{
    background-color: rgba(255, 0, 0, 0.267);
}

.error-send-menssage{
    text-align: center;
    color: rgba(255, 0, 0, 0.712);
    background-color: rgba(255, 0, 0, 0.24);
    padding: 5px;
    width: 100%;
    border-radius: 2px;
    opacity: 0;
    transition: all 0.8s 0s ease;
}

.modal-success{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(28, 177, 28);
}

/* Login Modal */ 

.Login-Modal .title-subsection{
    text-align: center;
}

.Login-Modal .row .col-12{
    display: flex;
    justify-content: center;
}

.professional-login{
    margin-top: 20px;
    font-weight: 700;
}

.login-error{
    color: rgba(255, 0, 0, 0.712);
    background-color: rgba(255, 0, 0, 0.24);
    padding: 5px;
    border-radius: 2px;
    opacity: 0;
    transition: all 0.8s 0s ease;
}

/* Register Modal */ 

.Register-Modal{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.Register-Modal input{
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0 5px 5px 5px;
}

.Register-Modal label{
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    font-weight: 600;
}

.box-error-register{
    display: none;
    color: rgba(255, 0, 0, 0.603);
    background-color: rgba(255, 0, 0, 0.247);
    padding: 5px;
}

.box-success-register{
    display: none;
    color: rgba(0, 128, 0, 0.726);
    background-color: rgba(0, 128, 0, 0.226);
    padding: 5px;
}