*{
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    background-color: #f5f6f8;
    margin: 0;
}

/* Header */
.header{
    color: white;
    background-color: #5964e0;
    width: 100%;
    height: 120px;
    border-bottom-left-radius: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.box-clean-dark{
    align-items: center;
    display: flex;
}

.light-switch{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 18px;
    border-radius: 10px;
    background-color: white;
    margin: 0px 10px 0 10px;
    padding: 2px;
}

.pointer{
    width: 14px;
    height: 14px;
    background-color: #5964e0;
    border-radius: 50%;
}

.light-switch.dark{
    justify-content: flex-end;
}

/* Logout Box */ 
.circle{
    font-size: 17px;
    font-weight: 00;
    color: white;
    padding: 0px 10px 0px 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 40px; 
}

.circle a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}

.circle a:hover, .active{
    opacity: 0.5;
}

/* Info Comapany */ 
main{
    padding-top: 50px;
}

.box-info-company{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-info-company img{
    border-radius: 500px;
    max-width: 100%;
    background-color: white;
}

.company-title{
    font-size: 40px;
    font-weight: 600;
}

.color-ct{
    color: rgba(0, 0, 0, 0.603);
}

/* Create a vacancy */ 
.title-create-job{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.box-vacancy{
    display: flex;
    flex-direction: column;
}

textarea{
    outline: none;
    resize: none;
    width: 100%;
    max-height: 70px;
}

label{
    font-weight: 700;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.empty{
    background-color: rgba(255, 0, 0, 0.288);
}

.box-create-job{
    opacity: 0;
    min-width: 70%;
    max-width: 80%;
    height: 40px;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.error-box{
    color: rgba(255, 0, 0, 0.644);
    background-color: rgba(238, 20, 20, 0.274);
    box-shadow: 0 0 2px rgba(206, 15, 15, 0.384);
}

.success-box{
    color: rgb(28, 139, 28);
    background-color: rgba(63, 160, 63, 0.356);
}

/* Edit Profile */ 
.box-edit-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.box-edit-profile .row input{
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0 5px 5px 5px;
}

.box-edit-profile .row label{
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    font-weight: 600;
}

.box-message-edit-profile{
    opacity: 1;
    min-height: 25px;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
}

.box-error-edit-profile{
    background-color: rgba(243, 70, 70, 0.466);
    color: rgba(231, 14, 14, 0.705);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.466);
}

.box-success-edit-profile{
    background-color: rgba(186, 216, 186, 0.589);
    color: rgb(11, 168, 11);
    box-shadow: 0 0 5px rgba(15, 131, 15, 0.452);
}

 /* Button Inicial Page */ 
.inicial-page{
    text-decoration: none;
    cursor: pointer;
    font-size: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    position: fixed;
    color: white;
    background-color: #5964e0;
    border-radius: 30px;
    transition: width 0.5s ease;
}

.inicial-page:hover{
    color: white;
    width: 120px;
}

/*Footer*/ 
footer{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    margin-top: 100px;
    background-color: #5964e0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-top-right-radius: 30px;
}

.top-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 15px;
}

.title-social-media{
    font-size: 12px;
    text-transform: uppercase;
}

ul li img{
    max-width: 20px;
}

.box-1, .box-2, .box-3{
    max-width: 160px;
    font-size: 12px;
}

.box-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-2 ul{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
}

.box-2 li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 58px;
    margin-bottom: 5px;
    margin: 10px;
}

.box-2 a {
    width: 100%;
    text-decoration: none;
    color: white;
}

.box-2 a:hover{
    color: black;
}

.bottom-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    margin-top: -30px;
}

/* Dark Mode */
.transition-dark{
    transition: all 1.0s ease;
}

.dark-body{
    background-color: #131722;
}

.dark-boxes{
    background-color: #18202d;
    transition: all 0.5s ease;
}

.dark-titles{
    color: white;
}

.dark-title-subs{
    color: white;
}

/* Responsive Layout */ 
@media (min-width:426px) and (max-width: 768px){
    /* Footer */ 
    .title-social-media{
        font-size: 9px;
    }

    .box-1, .box-2, .box-3{
        font-size: 9px;
        padding: 0px 10px;
    }

    .bottom-footer{
        font-size: 9px;
    }
}

@media (max-width: 500px){
    /* Header */ 
    .header{
        max-height: 80px;
    }

    .top-header{
        max-width: 350px;
        display: flex;
        justify-content: center;
        font-size: 8px;
    }

    .top-header h1{
        max-width: 70px;
        font-size: 14px;
    }
    .circle {
        font-size: 10px;
        text-align: center;
    }

    .box-clean-dark{
        margin-left: -40px;
    }

    /* Main */ 
    .mobile-row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-info-company img{
        max-width: 90px;
    }

    .infos-row div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .adress-row{
        margin-right: 40px;
    }
    .adress-row div{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    /*Form Create-Jobs */

    .creat-job-form .row label{
        font-size: 10px;
    }

    .creat-job-form .row input, textarea{
        font-size: 12px;
    }

    .form-text{
        font-size: 10px;
    }

    .box-create-job{
        font-size: 10px;
        min-width: 210px;
        height: 35px;
        margin-top: -40px;
    }

    /* Form Edit Profile */ 

    .edit-profile-form{
        margin-top: -40px;
    }

    .edit-profile-form .row label{
        font-size: 10px;
    }

    .edit-profile-form .row input, textarea{
        font-size: 12px;
    }

    /*Footer */ 
    .title-social-media{
        font-size: 9px;
    }

    .box-1, .box-3{
        margin-top: 110px;
    }

    .box-2{
        margin-top: -120px;
    }

    .bottom-footer{
        margin-top: 5px;
        font-size: 9px;
    }
    
    .top-footer{
        justify-content: center;
    }
}

