*{
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    background-color: #f5f6f8;
    margin: 0;
}
/* Header */


.header{
    color: white;
    background-color: #5964e0;
    width: 100%;
    height: 120px;
    border-bottom-left-radius: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.box-clean-dark{
    align-items: center;
    display: flex;
}

.light-switch{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 18px;
    border-radius: 10px;
    background-color: white;
    margin: 0px 10px 0 10px;
    padding: 2px;
}

.pointer{
    width: 14px;
    height: 14px;
    background-color: #5964e0;
    border-radius: 50%;
}

.light-switch.dark{
    justify-content: flex-end;
}

/* Logout Box */ 

.circle{
    font-size: 17px;
    font-weight: 00;
    color: white;
    padding: 0px 10px 0px 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 40px; 
}

.circle a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}

.circle a:hover, .active{
    opacity: 0.5;
}


/* main */ 

.vacancies-screen{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 50px;
}

.h3{
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
}
.box-jobs{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box-jobs-finished{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box{
    min-width: 300px;
    margin-right: 20px;
}

.box-header{
    max-width: 60px;
    padding: 20px;
}
.box-header img{
    max-width: 45px;
    border-radius: 15px;
}

.box-body{
    min-width: 300px;
    padding: 30px 20px 30px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    margin-top: -40px;
}

.post{
    display: flex;
    font-size: 12px;
    font-weight: 600;
    color: rgb(143, 141, 138);
}

span{
    margin: 0px 20px 10px 20px;
}

.title-job{
    margin-bottom: 10px;
    font-weight: 700;
}

.company-name{
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 600;
    color: rgb(143, 141, 138);
}

.box-footer{
    font-weight: bold;
    color: #5964e0;;
    font-size: 15px;
    cursor: pointer;
}

.box-footer:hover{
    opacity: 0.8;
}

.more-jobs{
    width: 100%;
    display: flex;
    justify-content: center;
}

.more-jobs button{
    margin: 20px;
}

.more-jobs button:hover{
    opacity: 0.8;
}

/* Modal JOBS*/
.modal-header img{
    max-width: 50px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
    margin-right: 10px;
}

.modal-header h5{
    font-weight: bold;
}


/* Modal-Form-Apply */
.form-apply{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.form-apply input{
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0 5px 5px 5px;
}

.form-apply label{
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    font-weight: 600;
}

.title-subsection{
    margin: 10px 0px 10px 0px;
}

.box-finised-vacancy{
    opacity: 0;
    border-radius: 5px;
    background-color: rgba(206, 228, 107, 0.479);
    color: rgb(67, 68, 27);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.658);
    margin-bottom: 10px;
    min-height: 35px;
    padding: 5px;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease-in;
}

 /* Button Inicial Page */ 
 .inicial-page{
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    z-index: 999;
    font-size: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    position: fixed;
    color: white;
    background-color: #7d759d;
    border-radius: 30px;
    transition: width 0.5s ease;
}

.inicial-page:hover{
    color: white;
    width: 120px;
}

/* Users Applyed modal */ 

.title-applyeds-vacancys{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}